body {
  margin:0px;
  background-image:none;
  position:relative;
  left:0px;
  width:375px;
  margin-left:auto;
  margin-right:auto;
  text-align:left;
}
.form_sketch {
  border-color:transparent;
  background-color:transparent;
}
#base {
  position:absolute;
  z-index:0;
}
#u76_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:1038px;
}
#u76 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:1038px;
  display:flex;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:48px;
}
#u76 .text {
  position:absolute;
  width:100%;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
}
#u76_text {
  border-width:0px;
  word-wrap:break-word;
}
#u77_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:170px;
  height:170px;
}
#u77 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:170px;
  height:170px;
  display:flex;
}
#u77 .text {
  position:absolute;
  width:100%;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
}
#u77_text {
  border-width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u79 {
  position:fixed;
  left:50%;
  margin-left:-187.5px;
  bottom:0px;
  width:375px;
  height:70px;
}
#u79_state0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:70px;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u79_state0_content {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u81_img {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:-4px;
  width:379px;
  height:74px;
}
#u81 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:70px;
  display:flex;
}
#u81 .text {
  position:absolute;
  width:100%;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
}
#u81_text {
  border-width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u83 {
  border-width:0px;
  position:absolute;
  left:128px;
  top:0px;
  width:120px;
  height:40px;
}
#u83_state0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  height:40px;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u83_state0_content {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u84_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  height:40px;
  background:inherit;
  background-color:rgba(215, 215, 215, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:18px;
}
#u84 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  height:40px;
  display:flex;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:18px;
}
#u84 .text {
  position:absolute;
  width:100%;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
}
#u84_text {
  border-width:0px;
  word-wrap:break-word;
}
#u83_state1 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  height:40px;
  visibility:hidden;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u83_state1_content {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u85_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  height:40px;
  background:inherit;
  background-color:rgba(215, 215, 215, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:18px;
}
#u85 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  height:40px;
  display:flex;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:18px;
}
#u85 .text {
  position:absolute;
  width:100%;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
}
#u85_text {
  border-width:0px;
  word-wrap:break-word;
}
#u83_state2 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  height:40px;
  visibility:hidden;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u83_state2_content {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u86_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  height:40px;
  background:inherit;
  background-color:rgba(215, 215, 215, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:18px;
}
#u86 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  height:40px;
  display:flex;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:18px;
}
#u86 .text {
  position:absolute;
  width:100%;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
}
#u86_text {
  border-width:0px;
  word-wrap:break-word;
}
#u83_state3 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  height:40px;
  visibility:hidden;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u83_state3_content {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u87_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  height:40px;
  background:inherit;
  background-color:rgba(215, 215, 215, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:18px;
}
#u87 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  height:40px;
  display:flex;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:18px;
}
#u87 .text {
  position:absolute;
  width:100%;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
}
#u87_text {
  border-width:0px;
  word-wrap:break-word;
}
#u88 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u89 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u90_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:44px;
  height:44px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u90 {
  border-width:0px;
  position:absolute;
  left:232px;
  top:26px;
  width:44px;
  height:44px;
  display:flex;
}
#u90 .text {
  position:absolute;
  width:100%;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
}
#u90_text {
  border-width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u91_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:22px;
  height:22px;
}
#u91 {
  border-width:0px;
  position:absolute;
  left:243px;
  top:37px;
  width:22px;
  height:22px;
  display:flex;
}
#u91 .text {
  position:absolute;
  width:100%;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
}
#u91_img.selected {
}
#u91.selected {
}
#u91_text {
  border-width:0px;
  word-wrap:break-word;
}
#u92 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u93_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:44px;
  height:44px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u93 {
  border-width:0px;
  position:absolute;
  left:188px;
  top:26px;
  width:44px;
  height:44px;
  display:flex;
}
#u93 .text {
  position:absolute;
  width:100%;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
}
#u93_text {
  border-width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u94_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:22px;
  height:22px;
}
#u94 {
  border-width:0px;
  position:absolute;
  left:199px;
  top:37px;
  width:22px;
  height:22px;
  display:flex;
}
#u94 .text {
  position:absolute;
  width:100%;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
}
#u94_img.selected {
}
#u94.selected {
}
#u94_text {
  border-width:0px;
  word-wrap:break-word;
}
#u95 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u96_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:44px;
  height:44px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u96 {
  border-width:0px;
  position:absolute;
  left:144px;
  top:26px;
  width:44px;
  height:44px;
  display:flex;
}
#u96 .text {
  position:absolute;
  width:100%;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
}
#u96_text {
  border-width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u97_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:22px;
  height:22px;
}
#u97 {
  border-width:0px;
  position:absolute;
  left:155px;
  top:37px;
  width:22px;
  height:22px;
  display:flex;
}
#u97 .text {
  position:absolute;
  width:100%;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
}
#u97_img.selected {
}
#u97.selected {
}
#u97_text {
  border-width:0px;
  word-wrap:break-word;
}
#u98 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u99_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:44px;
  height:44px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u99 {
  border-width:0px;
  position:absolute;
  left:100px;
  top:26px;
  width:44px;
  height:44px;
  display:flex;
}
#u99 .text {
  position:absolute;
  width:100%;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
}
#u99_text {
  border-width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u100_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:22px;
  height:22px;
}
#u100 {
  border-width:0px;
  position:absolute;
  left:111px;
  top:37px;
  width:22px;
  height:22px;
  display:flex;
}
#u100 .text {
  position:absolute;
  width:100%;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
}
#u100_img.selected {
}
#u100.selected {
}
#u100_text {
  border-width:0px;
  word-wrap:break-word;
}
#u102_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:70px;
  height:70px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:22px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:36px;
  text-align:left;
}
#u102 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:70px;
  height:70px;
  display:flex;
  font-size:36px;
  text-align:left;
}
#u102 .text {
  position:absolute;
  width:100%;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
}
#u102_text {
  border-width:0px;
  word-wrap:break-word;
}
#u104_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:47px;
}
#u104 {
  border-width:0px;
  position:absolute;
  left:315px;
  top:12px;
  width:50px;
  height:47px;
  display:flex;
}
#u104 .text {
  position:absolute;
  width:100%;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
}
#u104_text {
  border-width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u105_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:70px;
  height:70px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:22px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:36px;
  text-align:right;
}
#u105 {
  border-width:0px;
  position:absolute;
  left:305px;
  top:0px;
  width:70px;
  height:70px;
  display:flex;
  font-size:36px;
  text-align:right;
}
#u105 .text {
  position:absolute;
  width:100%;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
}
#u105_text {
  border-width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
body.a {  background-color:rgba(255, 255, 255, 1);
  background-image:none;
  position:relative;
  left:0px;
  width:360px;
  margin-left:auto;
  margin-right:auto;
  text-align:left;
}
#u76.a {
  width:360px;
}
#u76_img.a {
  width:360px;
}
#u76.a {
  width:360px;
}
#u76_text.a {
}
#u76 .text.a {
  align-self:center;
  padding:2px 2px 2px 2px;
}
#u77.a {
}
#u77_img.a {
}
#u77.a {
}
#u77_text.a {
}
#u77 .text.a {
  align-self:center;
  padding:2px 2px 2px 2px;
}
#u78.a {
  position:absolute;
  left:0px;
  top:667px;
  width:375px;
  height:70px;
}
#u79.a {
  position:fixed;
  left:50%;
  margin-left:-180px;
  bottom:0px;
  width:360px;
  height:70px;
  overflow:hidden;
}
#u80.a {
  position:absolute;
  left:0px;
  top:0px;
  width:360px;
  height:70px;
}
#u81.a {
  width:360px;
}
#u81_img.a {
  width:364px;
}
#u81.a {
  width:360px;
}
#u81_text.a {
}
#u81 .text.a {
  align-self:center;
  padding:2px 2px 2px 2px;
}
#u82.a {
  position:absolute;
  left:92px;
  top:0px;
  width:176px;
  height:70px;
}
#u83.a {
  border-width:0px;
  position:absolute;
  left:120px;
  top:0px;
  width:120px;
  height:40px;
}
#u84.a {
}
#u84_div.a {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  height:40px;
  background:inherit;
  background-color:rgba(215, 215, 215, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:18px;
}
#u84.a {
}
#u84_text.a {
}
#u84 .text.a {
  align-self:center;
  padding:2px 2px 2px 2px;
}
#u85.a {
}
#u85_div.a {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  height:40px;
  background:inherit;
  background-color:rgba(215, 215, 215, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:18px;
}
#u85.a {
}
#u85_text.a {
}
#u85 .text.a {
  align-self:center;
  padding:2px 2px 2px 2px;
}
#u86.a {
}
#u86_div.a {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  height:40px;
  background:inherit;
  background-color:rgba(215, 215, 215, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:18px;
}
#u86.a {
}
#u86_text.a {
}
#u86 .text.a {
  align-self:center;
  padding:2px 2px 2px 2px;
}
#u87.a {
}
#u87_div.a {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  height:40px;
  background:inherit;
  background-color:rgba(215, 215, 215, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:18px;
}
#u87.a {
}
#u87_text.a {
}
#u87 .text.a {
  align-self:center;
  padding:2px 2px 2px 2px;
}
#u83_state0.a {
  background-color:rgba(255, 255, 255, 0);
  background-image:none;
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u83_state1.a {
  background-color:rgba(255, 255, 255, 0);
  background-image:none;
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u83_state2.a {
  background-color:rgba(255, 255, 255, 0);
  background-image:none;
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u83_state3.a {
  background-color:rgba(255, 255, 255, 0);
  background-image:none;
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u90.a {
  left:224px;
}
#u90_div.a {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:44px;
  height:44px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u90.a {
  left:224px;
}
#u90_text.a {
}
#u90 .text.a {
  align-self:center;
  padding:2px 2px 2px 2px;
}
#u91.a {
  left:235px;
}
#u91_img.a {
}
#u91.a {
  left:235px;
}
#u91_img.a.selected {
}
#u91.a.selected {
}
#u91_text.a {
}
#u91 .text.a {
  align-self:center;
  padding:2px 2px 2px 2px;
}
#u93.a {
  left:180px;
}
#u93_div.a {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:44px;
  height:44px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u93.a {
  left:180px;
}
#u93_text.a {
}
#u93 .text.a {
  align-self:center;
  padding:2px 2px 2px 2px;
}
#u94.a {
  left:191px;
}
#u94_img.a {
}
#u94.a {
  left:191px;
}
#u94_img.a.selected {
}
#u94.a.selected {
}
#u94_text.a {
}
#u94 .text.a {
  align-self:center;
  padding:2px 2px 2px 2px;
}
#u96.a {
  left:136px;
}
#u96_div.a {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:44px;
  height:44px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u96.a {
  left:136px;
}
#u96_text.a {
}
#u96 .text.a {
  align-self:center;
  padding:2px 2px 2px 2px;
}
#u97.a {
  left:147px;
}
#u97_img.a {
}
#u97.a {
  left:147px;
}
#u97_img.a.selected {
}
#u97.a.selected {
}
#u97_text.a {
}
#u97 .text.a {
  align-self:center;
  padding:2px 2px 2px 2px;
}
#u99.a {
  left:92px;
}
#u99_div.a {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:44px;
  height:44px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u99.a {
  left:92px;
}
#u99_text.a {
}
#u99 .text.a {
  align-self:center;
  padding:2px 2px 2px 2px;
}
#u100.a {
  left:103px;
}
#u100_img.a {
}
#u100.a {
  left:103px;
}
#u100_img.a.selected {
}
#u100.a.selected {
}
#u100_text.a {
}
#u100 .text.a {
  align-self:center;
  padding:2px 2px 2px 2px;
}
#u101.a {
  position:absolute;
  left:0px;
  top:0px;
  width:70px;
  height:70px;
}
#u102.a {
}
#u102_div.a {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:70px;
  height:70px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:22px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:36px;
  text-align:left;
}
#u102.a {
}
#u102_text.a {
}
#u102 .text.a {
  align-self:center;
  padding:2px 2px 2px 2px;
}
#u103.a {
  position:absolute;
  left:290px;
  top:0px;
  width:70px;
  height:70px;
}
#u104.a {
  left:300px;
}
#u104_img.a {
}
#u104.a {
  left:300px;
}
#u104_text.a {
}
#u104 .text.a {
  align-self:center;
  padding:2px 2px 2px 2px;
}
#u105.a {
  left:290px;
}
#u105_div.a {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:70px;
  height:70px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:22px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:36px;
  text-align:right;
}
#u105.a {
  left:290px;
}
#u105_text.a {
}
#u105 .text.a {
  align-self:center;
  padding:2px 2px 2px 2px;
}
#u79_state0.a {
  width:360px;
  background-color:rgba(255, 255, 255, 0);
  background-image:none;
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
body.b {  background-color:rgba(255, 255, 255, 1);
  background-image:none;
  position:relative;
  left:0px;
  width:414px;
  margin-left:auto;
  margin-right:auto;
  text-align:left;
}
#u76.b {
  width:414px;
}
#u76_img.b {
  width:414px;
}
#u76.b {
  width:414px;
}
#u76_text.b {
}
#u76 .text.b {
  align-self:center;
  padding:2px 2px 2px 2px;
}
#u77.b {
}
#u77_img.b {
}
#u77.b {
}
#u77_text.b {
}
#u77 .text.b {
  align-self:center;
  padding:2px 2px 2px 2px;
}
#u78.b {
  position:absolute;
  left:0px;
  top:667px;
  width:375px;
  height:70px;
}
#u79.b {
  position:fixed;
  left:50%;
  margin-left:-207.5px;
  bottom:0px;
  width:415px;
  height:70px;
  overflow:hidden;
}
#u80.b {
  position:absolute;
  left:0px;
  top:0px;
  width:414px;
  height:70px;
}
#u81.b {
  width:414px;
}
#u81_img.b {
  width:418px;
}
#u81.b {
  width:414px;
}
#u81_text.b {
}
#u81 .text.b {
  align-self:center;
  padding:2px 2px 2px 2px;
}
#u82.b {
  position:absolute;
  left:119px;
  top:0px;
  width:176px;
  height:70px;
}
#u83.b {
  border-width:0px;
  position:absolute;
  left:147px;
  top:0px;
  width:120px;
  height:40px;
}
#u84.b {
}
#u84_div.b {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  height:40px;
  background:inherit;
  background-color:rgba(215, 215, 215, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:18px;
}
#u84.b {
}
#u84_text.b {
}
#u84 .text.b {
  align-self:center;
  padding:2px 2px 2px 2px;
}
#u85.b {
}
#u85_div.b {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  height:40px;
  background:inherit;
  background-color:rgba(215, 215, 215, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:18px;
}
#u85.b {
}
#u85_text.b {
}
#u85 .text.b {
  align-self:center;
  padding:2px 2px 2px 2px;
}
#u86.b {
}
#u86_div.b {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  height:40px;
  background:inherit;
  background-color:rgba(215, 215, 215, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:18px;
}
#u86.b {
}
#u86_text.b {
}
#u86 .text.b {
  align-self:center;
  padding:2px 2px 2px 2px;
}
#u87.b {
}
#u87_div.b {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  height:40px;
  background:inherit;
  background-color:rgba(215, 215, 215, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:18px;
}
#u87.b {
}
#u87_text.b {
}
#u87 .text.b {
  align-self:center;
  padding:2px 2px 2px 2px;
}
#u83_state0.b {
  background-color:rgba(255, 255, 255, 0);
  background-image:none;
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u83_state1.b {
  background-color:rgba(255, 255, 255, 0);
  background-image:none;
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u83_state2.b {
  background-color:rgba(255, 255, 255, 0);
  background-image:none;
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u83_state3.b {
  background-color:rgba(255, 255, 255, 0);
  background-image:none;
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u90.b {
  left:251px;
}
#u90_div.b {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:44px;
  height:44px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u90.b {
  left:251px;
}
#u90_text.b {
}
#u90 .text.b {
  align-self:center;
  padding:2px 2px 2px 2px;
}
#u91.b {
  left:262px;
}
#u91_img.b {
}
#u91.b {
  left:262px;
}
#u91_img.b.selected {
}
#u91.b.selected {
}
#u91_text.b {
}
#u91 .text.b {
  align-self:center;
  padding:2px 2px 2px 2px;
}
#u93.b {
  left:207px;
}
#u93_div.b {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:44px;
  height:44px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u93.b {
  left:207px;
}
#u93_text.b {
}
#u93 .text.b {
  align-self:center;
  padding:2px 2px 2px 2px;
}
#u94.b {
  left:218px;
}
#u94_img.b {
}
#u94.b {
  left:218px;
}
#u94_img.b.selected {
}
#u94.b.selected {
}
#u94_text.b {
}
#u94 .text.b {
  align-self:center;
  padding:2px 2px 2px 2px;
}
#u96.b {
  left:163px;
}
#u96_div.b {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:44px;
  height:44px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u96.b {
  left:163px;
}
#u96_text.b {
}
#u96 .text.b {
  align-self:center;
  padding:2px 2px 2px 2px;
}
#u97.b {
  left:174px;
}
#u97_img.b {
}
#u97.b {
  left:174px;
}
#u97_img.b.selected {
}
#u97.b.selected {
}
#u97_text.b {
}
#u97 .text.b {
  align-self:center;
  padding:2px 2px 2px 2px;
}
#u99.b {
  left:119px;
}
#u99_div.b {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:44px;
  height:44px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u99.b {
  left:119px;
}
#u99_text.b {
}
#u99 .text.b {
  align-self:center;
  padding:2px 2px 2px 2px;
}
#u100.b {
  left:130px;
}
#u100_img.b {
}
#u100.b {
  left:130px;
}
#u100_img.b.selected {
}
#u100.b.selected {
}
#u100_text.b {
}
#u100 .text.b {
  align-self:center;
  padding:2px 2px 2px 2px;
}
#u101.b {
  position:absolute;
  left:0px;
  top:0px;
  width:70px;
  height:70px;
}
#u102.b {
}
#u102_div.b {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:70px;
  height:70px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:22px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:36px;
  text-align:left;
}
#u102.b {
}
#u102_text.b {
}
#u102 .text.b {
  align-self:center;
  padding:2px 2px 2px 2px;
}
#u103.b {
  position:absolute;
  left:344px;
  top:0px;
  width:70px;
  height:70px;
}
#u104.b {
  left:354px;
}
#u104_img.b {
}
#u104.b {
  left:354px;
}
#u104_text.b {
}
#u104 .text.b {
  align-self:center;
  padding:2px 2px 2px 2px;
}
#u105.b {
  left:344px;
}
#u105_div.b {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:70px;
  height:70px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:22px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:36px;
  text-align:right;
}
#u105.b {
  left:344px;
}
#u105_text.b {
}
#u105 .text.b {
  align-self:center;
  padding:2px 2px 2px 2px;
}
#u79_state0.b {
  width:415px;
  background-color:rgba(255, 255, 255, 0);
  background-image:none;
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
body.c {  background-color:rgba(255, 255, 255, 1);
  background-image:none;
  position:relative;
  left:0px;
  width:768px;
  margin-left:auto;
  margin-right:auto;
  text-align:left;
}
#u76.c {
  width:768px;
}
#u76_img.c {
  width:768px;
}
#u76.c {
  width:768px;
}
#u76_text.c {
}
#u76 .text.c {
  align-self:center;
  padding:2px 2px 2px 2px;
}
#u77.c {
}
#u77_img.c {
}
#u77.c {
}
#u77_text.c {
}
#u77 .text.c {
  align-self:center;
  padding:2px 2px 2px 2px;
}
#u78.c {
  position:absolute;
  left:0px;
  top:667px;
  width:375px;
  height:70px;
}
#u79.c {
  position:fixed;
  left:50%;
  margin-left:-384px;
  bottom:0px;
  width:768px;
  height:70px;
  overflow:hidden;
}
#u80.c {
  position:absolute;
  left:0px;
  top:0px;
  width:768px;
  height:70px;
}
#u81.c {
  width:768px;
}
#u81_img.c {
  width:772px;
}
#u81.c {
  width:768px;
}
#u81_text.c {
}
#u81 .text.c {
  align-self:center;
  padding:2px 2px 2px 2px;
}
#u82.c {
  position:absolute;
  left:296px;
  top:0px;
  width:176px;
  height:70px;
}
#u83.c {
  border-width:0px;
  position:absolute;
  left:324px;
  top:0px;
  width:120px;
  height:40px;
}
#u84.c {
}
#u84_div.c {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  height:40px;
  background:inherit;
  background-color:rgba(215, 215, 215, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:18px;
}
#u84.c {
}
#u84_text.c {
}
#u84 .text.c {
  align-self:center;
  padding:2px 2px 2px 2px;
}
#u85.c {
}
#u85_div.c {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  height:40px;
  background:inherit;
  background-color:rgba(215, 215, 215, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:18px;
}
#u85.c {
}
#u85_text.c {
}
#u85 .text.c {
  align-self:center;
  padding:2px 2px 2px 2px;
}
#u86.c {
}
#u86_div.c {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  height:40px;
  background:inherit;
  background-color:rgba(215, 215, 215, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:18px;
}
#u86.c {
}
#u86_text.c {
}
#u86 .text.c {
  align-self:center;
  padding:2px 2px 2px 2px;
}
#u87.c {
}
#u87_div.c {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  height:40px;
  background:inherit;
  background-color:rgba(215, 215, 215, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:18px;
}
#u87.c {
}
#u87_text.c {
}
#u87 .text.c {
  align-self:center;
  padding:2px 2px 2px 2px;
}
#u83_state0.c {
  background-color:rgba(255, 255, 255, 0);
  background-image:none;
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u83_state1.c {
  background-color:rgba(255, 255, 255, 0);
  background-image:none;
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u83_state2.c {
  background-color:rgba(255, 255, 255, 0);
  background-image:none;
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u83_state3.c {
  background-color:rgba(255, 255, 255, 0);
  background-image:none;
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u90.c {
  left:428px;
}
#u90_div.c {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:44px;
  height:44px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u90.c {
  left:428px;
}
#u90_text.c {
}
#u90 .text.c {
  align-self:center;
  padding:2px 2px 2px 2px;
}
#u91.c {
  left:439px;
}
#u91_img.c {
}
#u91.c {
  left:439px;
}
#u91_img.c.selected {
}
#u91.c.selected {
}
#u91_text.c {
}
#u91 .text.c {
  align-self:center;
  padding:2px 2px 2px 2px;
}
#u93.c {
  left:384px;
}
#u93_div.c {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:44px;
  height:44px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u93.c {
  left:384px;
}
#u93_text.c {
}
#u93 .text.c {
  align-self:center;
  padding:2px 2px 2px 2px;
}
#u94.c {
  left:395px;
}
#u94_img.c {
}
#u94.c {
  left:395px;
}
#u94_img.c.selected {
}
#u94.c.selected {
}
#u94_text.c {
}
#u94 .text.c {
  align-self:center;
  padding:2px 2px 2px 2px;
}
#u96.c {
  left:340px;
}
#u96_div.c {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:44px;
  height:44px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u96.c {
  left:340px;
}
#u96_text.c {
}
#u96 .text.c {
  align-self:center;
  padding:2px 2px 2px 2px;
}
#u97.c {
  left:351px;
}
#u97_img.c {
}
#u97.c {
  left:351px;
}
#u97_img.c.selected {
}
#u97.c.selected {
}
#u97_text.c {
}
#u97 .text.c {
  align-self:center;
  padding:2px 2px 2px 2px;
}
#u99.c {
  left:296px;
}
#u99_div.c {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:44px;
  height:44px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u99.c {
  left:296px;
}
#u99_text.c {
}
#u99 .text.c {
  align-self:center;
  padding:2px 2px 2px 2px;
}
#u100.c {
  left:307px;
}
#u100_img.c {
}
#u100.c {
  left:307px;
}
#u100_img.c.selected {
}
#u100.c.selected {
}
#u100_text.c {
}
#u100 .text.c {
  align-self:center;
  padding:2px 2px 2px 2px;
}
#u101.c {
  position:absolute;
  left:0px;
  top:0px;
  width:70px;
  height:70px;
}
#u102.c {
}
#u102_div.c {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:70px;
  height:70px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:22px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:36px;
  text-align:left;
}
#u102.c {
}
#u102_text.c {
}
#u102 .text.c {
  align-self:center;
  padding:2px 2px 2px 2px;
}
#u103.c {
  position:absolute;
  left:698px;
  top:0px;
  width:70px;
  height:70px;
}
#u104.c {
  left:708px;
}
#u104_img.c {
}
#u104.c {
  left:708px;
}
#u104_text.c {
}
#u104 .text.c {
  align-self:center;
  padding:2px 2px 2px 2px;
}
#u105.c {
  left:698px;
}
#u105_div.c {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:70px;
  height:70px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:22px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:36px;
  text-align:right;
}
#u105.c {
  left:698px;
}
#u105_text.c {
}
#u105 .text.c {
  align-self:center;
  padding:2px 2px 2px 2px;
}
#u79_state0.c {
  width:768px;
  background-color:rgba(255, 255, 255, 0);
  background-image:none;
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
body.d {  background-color:rgba(255, 255, 255, 1);
  background-image:none;
  position:relative;
  left:0px;
  width:1024px;
  margin-left:auto;
  margin-right:auto;
  text-align:left;
}
#u76.d {
  width:1024px;
}
#u76_img.d {
  width:1024px;
}
#u76.d {
  width:1024px;
}
#u76_text.d {
}
#u76 .text.d {
  align-self:center;
  padding:2px 2px 2px 2px;
}
#u77.d {
}
#u77_img.d {
}
#u77.d {
}
#u77_text.d {
}
#u77 .text.d {
  align-self:center;
  padding:2px 2px 2px 2px;
}
#u78.d {
  position:absolute;
  left:128px;
  top:768px;
  width:375px;
  height:70px;
}
#u79.d {
  position:fixed;
  left:50%;
  margin-left:-384px;
  bottom:0px;
  width:768px;
  height:70px;
  overflow:hidden;
}
#u80.d {
  position:absolute;
  left:0px;
  top:0px;
  width:768px;
  height:70px;
}
#u81.d {
  width:768px;
}
#u81_img.d {
  width:772px;
}
#u81.d {
  width:768px;
}
#u81_text.d {
}
#u81 .text.d {
  align-self:center;
  padding:2px 2px 2px 2px;
}
#u82.d {
  position:absolute;
  left:296px;
  top:0px;
  width:176px;
  height:70px;
}
#u83.d {
  border-width:0px;
  position:absolute;
  left:324px;
  top:0px;
  width:120px;
  height:40px;
}
#u84.d {
}
#u84_div.d {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  height:40px;
  background:inherit;
  background-color:rgba(215, 215, 215, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:18px;
}
#u84.d {
}
#u84_text.d {
}
#u84 .text.d {
  align-self:center;
  padding:2px 2px 2px 2px;
}
#u85.d {
}
#u85_div.d {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  height:40px;
  background:inherit;
  background-color:rgba(215, 215, 215, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:18px;
}
#u85.d {
}
#u85_text.d {
}
#u85 .text.d {
  align-self:center;
  padding:2px 2px 2px 2px;
}
#u86.d {
}
#u86_div.d {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  height:40px;
  background:inherit;
  background-color:rgba(215, 215, 215, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:18px;
}
#u86.d {
}
#u86_text.d {
}
#u86 .text.d {
  align-self:center;
  padding:2px 2px 2px 2px;
}
#u87.d {
}
#u87_div.d {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  height:40px;
  background:inherit;
  background-color:rgba(215, 215, 215, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:18px;
}
#u87.d {
}
#u87_text.d {
}
#u87 .text.d {
  align-self:center;
  padding:2px 2px 2px 2px;
}
#u83_state0.d {
  background-color:rgba(255, 255, 255, 0);
  background-image:none;
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u83_state1.d {
  background-color:rgba(255, 255, 255, 0);
  background-image:none;
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u83_state2.d {
  background-color:rgba(255, 255, 255, 0);
  background-image:none;
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u83_state3.d {
  background-color:rgba(255, 255, 255, 0);
  background-image:none;
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u90.d {
  left:428px;
}
#u90_div.d {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:44px;
  height:44px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u90.d {
  left:428px;
}
#u90_text.d {
}
#u90 .text.d {
  align-self:center;
  padding:2px 2px 2px 2px;
}
#u91.d {
  left:439px;
}
#u91_img.d {
}
#u91.d {
  left:439px;
}
#u91_img.d.selected {
}
#u91.d.selected {
}
#u91_text.d {
}
#u91 .text.d {
  align-self:center;
  padding:2px 2px 2px 2px;
}
#u93.d {
  left:384px;
}
#u93_div.d {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:44px;
  height:44px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u93.d {
  left:384px;
}
#u93_text.d {
}
#u93 .text.d {
  align-self:center;
  padding:2px 2px 2px 2px;
}
#u94.d {
  left:395px;
}
#u94_img.d {
}
#u94.d {
  left:395px;
}
#u94_img.d.selected {
}
#u94.d.selected {
}
#u94_text.d {
}
#u94 .text.d {
  align-self:center;
  padding:2px 2px 2px 2px;
}
#u96.d {
  left:340px;
}
#u96_div.d {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:44px;
  height:44px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u96.d {
  left:340px;
}
#u96_text.d {
}
#u96 .text.d {
  align-self:center;
  padding:2px 2px 2px 2px;
}
#u97.d {
  left:351px;
}
#u97_img.d {
}
#u97.d {
  left:351px;
}
#u97_img.d.selected {
}
#u97.d.selected {
}
#u97_text.d {
}
#u97 .text.d {
  align-self:center;
  padding:2px 2px 2px 2px;
}
#u99.d {
  left:296px;
}
#u99_div.d {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:44px;
  height:44px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u99.d {
  left:296px;
}
#u99_text.d {
}
#u99 .text.d {
  align-self:center;
  padding:2px 2px 2px 2px;
}
#u100.d {
  left:307px;
}
#u100_img.d {
}
#u100.d {
  left:307px;
}
#u100_img.d.selected {
}
#u100.d.selected {
}
#u100_text.d {
}
#u100 .text.d {
  align-self:center;
  padding:2px 2px 2px 2px;
}
#u101.d {
  position:absolute;
  left:0px;
  top:0px;
  width:70px;
  height:70px;
}
#u102.d {
}
#u102_div.d {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:70px;
  height:70px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:22px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:36px;
  text-align:left;
}
#u102.d {
}
#u102_text.d {
}
#u102 .text.d {
  align-self:center;
  padding:2px 2px 2px 2px;
}
#u103.d {
  position:absolute;
  left:698px;
  top:0px;
  width:70px;
  height:70px;
}
#u104.d {
  left:708px;
}
#u104_img.d {
}
#u104.d {
  left:708px;
}
#u104_text.d {
}
#u104 .text.d {
  align-self:center;
  padding:2px 2px 2px 2px;
}
#u105.d {
  left:698px;
}
#u105_div.d {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:70px;
  height:70px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:22px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:36px;
  text-align:right;
}
#u105.d {
  left:698px;
}
#u105_text.d {
}
#u105 .text.d {
  align-self:center;
  padding:2px 2px 2px 2px;
}
#u79_state0.d {
  width:768px;
  background-color:rgba(255, 255, 255, 0);
  background-image:none;
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
body.e {  background-color:rgba(255, 255, 255, 1);
  background-image:none;
  position:relative;
  left:0px;
  width:1200px;
  margin-left:auto;
  margin-right:auto;
  text-align:left;
}
#u76.e {
  width:1200px;
}
#u76_img.e {
  width:1200px;
}
#u76.e {
  width:1200px;
}
#u76_text.e {
}
#u76 .text.e {
  align-self:center;
  padding:2px 2px 2px 2px;
}
#u77.e {
}
#u77_img.e {
}
#u77.e {
}
#u77_text.e {
}
#u77 .text.e {
  align-self:center;
  padding:2px 2px 2px 2px;
}
#u78.e {
  position:absolute;
  left:0px;
  top:1038px;
  width:375px;
  height:70px;
}
#u79.e {
  position:fixed;
  left:50%;
  margin-left:-600px;
  bottom:0px;
  width:1200px;
  height:70px;
  overflow:hidden;
}
#u80.e {
  position:absolute;
  left:0px;
  top:0px;
  width:1200px;
  height:70px;
}
#u81.e {
  width:1200px;
}
#u81_img.e {
  width:1204px;
}
#u81.e {
  width:1200px;
}
#u81_text.e {
}
#u81 .text.e {
  align-self:center;
  padding:2px 2px 2px 2px;
}
#u82.e {
  position:absolute;
  left:512px;
  top:0px;
  width:176px;
  height:70px;
}
#u83.e {
  border-width:0px;
  position:absolute;
  left:540px;
  top:0px;
  width:120px;
  height:40px;
}
#u84.e {
}
#u84_div.e {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  height:40px;
  background:inherit;
  background-color:rgba(215, 215, 215, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:18px;
}
#u84.e {
}
#u84_text.e {
}
#u84 .text.e {
  align-self:center;
  padding:2px 2px 2px 2px;
}
#u85.e {
}
#u85_div.e {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  height:40px;
  background:inherit;
  background-color:rgba(215, 215, 215, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:18px;
}
#u85.e {
}
#u85_text.e {
}
#u85 .text.e {
  align-self:center;
  padding:2px 2px 2px 2px;
}
#u86.e {
}
#u86_div.e {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  height:40px;
  background:inherit;
  background-color:rgba(215, 215, 215, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:18px;
}
#u86.e {
}
#u86_text.e {
}
#u86 .text.e {
  align-self:center;
  padding:2px 2px 2px 2px;
}
#u87.e {
}
#u87_div.e {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  height:40px;
  background:inherit;
  background-color:rgba(215, 215, 215, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:18px;
}
#u87.e {
}
#u87_text.e {
}
#u87 .text.e {
  align-self:center;
  padding:2px 2px 2px 2px;
}
#u83_state0.e {
  background-color:rgba(255, 255, 255, 0);
  background-image:none;
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u83_state1.e {
  background-color:rgba(255, 255, 255, 0);
  background-image:none;
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u83_state2.e {
  background-color:rgba(255, 255, 255, 0);
  background-image:none;
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u83_state3.e {
  background-color:rgba(255, 255, 255, 0);
  background-image:none;
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u90.e {
  left:644px;
}
#u90_div.e {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:44px;
  height:44px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u90.e {
  left:644px;
}
#u90_text.e {
}
#u90 .text.e {
  align-self:center;
  padding:2px 2px 2px 2px;
}
#u91.e {
  left:655px;
}
#u91_img.e {
}
#u91.e {
  left:655px;
}
#u91_img.e.selected {
}
#u91.e.selected {
}
#u91_text.e {
}
#u91 .text.e {
  align-self:center;
  padding:2px 2px 2px 2px;
}
#u93.e {
  left:600px;
}
#u93_div.e {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:44px;
  height:44px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u93.e {
  left:600px;
}
#u93_text.e {
}
#u93 .text.e {
  align-self:center;
  padding:2px 2px 2px 2px;
}
#u94.e {
  left:611px;
}
#u94_img.e {
}
#u94.e {
  left:611px;
}
#u94_img.e.selected {
}
#u94.e.selected {
}
#u94_text.e {
}
#u94 .text.e {
  align-self:center;
  padding:2px 2px 2px 2px;
}
#u96.e {
  left:556px;
}
#u96_div.e {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:44px;
  height:44px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u96.e {
  left:556px;
}
#u96_text.e {
}
#u96 .text.e {
  align-self:center;
  padding:2px 2px 2px 2px;
}
#u97.e {
  left:567px;
}
#u97_img.e {
}
#u97.e {
  left:567px;
}
#u97_img.e.selected {
}
#u97.e.selected {
}
#u97_text.e {
}
#u97 .text.e {
  align-self:center;
  padding:2px 2px 2px 2px;
}
#u99.e {
  left:512px;
}
#u99_div.e {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:44px;
  height:44px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u99.e {
  left:512px;
}
#u99_text.e {
}
#u99 .text.e {
  align-self:center;
  padding:2px 2px 2px 2px;
}
#u100.e {
  left:523px;
}
#u100_img.e {
}
#u100.e {
  left:523px;
}
#u100_img.e.selected {
}
#u100.e.selected {
}
#u100_text.e {
}
#u100 .text.e {
  align-self:center;
  padding:2px 2px 2px 2px;
}
#u101.e {
  position:absolute;
  left:0px;
  top:0px;
  width:70px;
  height:70px;
}
#u102.e {
}
#u102_div.e {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:70px;
  height:70px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:22px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:36px;
  text-align:left;
}
#u102.e {
}
#u102_text.e {
}
#u102 .text.e {
  align-self:center;
  padding:2px 2px 2px 2px;
}
#u103.e {
  position:absolute;
  left:1130px;
  top:0px;
  width:70px;
  height:70px;
}
#u104.e {
  left:1140px;
}
#u104_img.e {
}
#u104.e {
  left:1140px;
}
#u104_text.e {
}
#u104 .text.e {
  align-self:center;
  padding:2px 2px 2px 2px;
}
#u105.e {
  left:1130px;
}
#u105_div.e {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:70px;
  height:70px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:22px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:36px;
  text-align:right;
}
#u105.e {
  left:1130px;
}
#u105_text.e {
}
#u105 .text.e {
  align-self:center;
  padding:2px 2px 2px 2px;
}
#u79_state0.e {
  width:1200px;
  background-color:rgba(255, 255, 255, 0);
  background-image:none;
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
